@model String
           
<p>
    @Model
</p>
<p>
    @Html.Raw(Model)
</p>
@*@model String[]
@{
    ViewBag.Title = "GetHtml";
}
<h2>GetHtml</h2>
<ol>
    @foreach (var item in Model)
    {
        <li>
            @(item)
        </li>
    }
</ol>*@

